{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error",2],
    "linebreak-style": ["error","unix"],
    "quotes": ["error","single"],
    "semi": ["error","always"],
    "no-console": 0,
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}],
    "require-yield": 0
  }
}
